                                         /* HEADER */

*
{
    margin: 0px;
    font-family: "Raleway", "Sans serif";
    list-style: none;
    
}


.section-header
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



ul
{  
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}


a
{

    text-decoration: none;
    color: black;
    padding-right: 35px;
    padding-left: 35px;
}


.section-menu
{
    
    display: flex;
    flex-wrap: wrap;  
    
    
}



.section-logo
{
    padding-left: 50px;
    padding-top: 50px;
 

}

.lien-nav1 :hover
{
    border-top:3px solid;
    color: #0065fc;
padding-top: 47px;

}


.lien-nav1 
{

    padding-top: 50px;
    padding-bottom: 20px;

}


.lien-nav2 :hover
{
    
    border-top:3px solid;
    color: #0065fc;
    padding-top: 47px;

}
.lien-nav2 
{   
    
    padding-top: 50px;
    padding-bottom: 20px;
}



.sinscrire
{color: #0065fc;}

.section-signup
{
    padding-top: 50px;
    padding-bottom: 20px;
padding-right: 30px
;
    color:#0065fc ;
}


