                                         /* HEADER */

*
{
    margin: 0px;
    font-family: "Raleway", "Sans serif";
    list-style: none;
    
}


header
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



ul
{  
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}


a
{

    text-decoration: none;
    color: black;
    padding-right: 35px;
    padding-left: 35px;
}


.section-menu
{
    
    display: flex;
    flex-wrap: wrap;  
    
    
}



.section-logo
{
    padding-left: 15px;
    padding-top: 50px;
 

}

.lien-nav :hover
{
    border-top:3px solid;
    color: #0065fc;
padding-top: 47px;

}


.lien-nav
{

    padding-top: 50px;
    padding-bottom: 20px;

}


.lien-nav :hover
{
    
    border-top:3px solid;
    color: #0065fc;
    padding-top: 47px;

}
.lien-nav
{   
    
    padding-top: 50px;
    padding-bottom: 20px;
}



.sinscrire
{color: #0065fc;}

.section-signup
{
    padding-bottom: 20px;
    padding-right: 30px;
    color:#0065fc ;
}


                                    /* RECHERCHES ET FILTRES */
                                    

.recherches-filtres
{
    padding-top: 30px;
    padding-left: 50px;
       
}


h3
{
    font-size: 20px;

}

.texte 
{
    padding-top: 10px;
}

.bouton-rechercher
{
    font-size: 15px;
    background-color: #0065fc;
    padding: 18px;
    color: white;
    border-color: #0065fc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    

}

.bouton-rechercher :hover
{
    cursor:pointer;
}

form .fas 
{
    font-size: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    
    border-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.recherche
{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 17px;
    border-style: solid;
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
    border-left: none;
    border-right: none;
    
}

.filtres
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 400px;
    font-size: 12px;
    padding-left: 50px;
}
.texte-filtres
{
   background-position:center;
   
   
}

.picto strong
{
    font-size: 15px;
    padding: 15px;
}

.picto 
{
    
    text-align: center;
    border: 3px solid #f2f2f2;
    border-left: none;
    border-radius: 100px;

}



.filtres .fas
{
    color: #0065fc;
    font-size: 15px;
    background-color: #deebff;
    padding: 15px;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    border-color: #deebff;
}

.infos
{
    padding-left: 50px;
    padding-top: 45px;
    padding-right: 900px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos .fas
{
    text-align: center;
    width: 13px;
    height: 13px;
    font-size: 13px;
    color:#0065fc;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    
}



.picto :hover
{
    cursor:pointer;
	transform: scale(1.3);
    
}


                                     /* HEBERGEMENTS */
                                     
                                     
                                     
.HébergementsMarseille
{
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.hebergements
{
    padding-top: 30px;
    
    height:630px;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #f2f2f2;

}

.TitreH
{

width: 800px;

}

.AP
{
    width: 800px;
}
.hotel
{
    box-shadow: 1px 1px 8px #555;
    width: 240px;
    height: 200px;
    background-color: white;
    border: solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.hotel img
{   
    width: 236px;
    height: 110px;
    padding: 2px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
    
  
    
}



.hotel p
{
    font-size: 15px;
    padding-left: 15px;
}

.hotel .fas
{
    font-size: 10px;
    color: #0065fc;
    
}

.etoile
{
    padding-left: 15px;
}

.AP :hover
{
    cursor: pointer;
}

.hotel img:hover
{
    cursor: pointer;
    transform:scale(1.1);
    border-radius: 20px;
    
}

                                        /* ASIDE */

aside
{
    width: 350px;
    height: auto;
    margin-right: 65px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.LPP
{
    width: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.LPP .fas
{
    font-size: 20px;
}

.HP
{
    height: 140px;
    width:280px ;
    display: flex;
    border: solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 8px #555;
    display: flex;
    justify-content: space-between;
}

.HP img
{
    width: 110px;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2px;
}

.TXTHP
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
    
}

.HP .fas
{
    font-size: 10px;
    color: #0065fc;
}

.HP img:hover
{
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 20px;
}

                            /* AVTIVITES */
                            
                            
                            
.Activités
{
 
padding-top: 65px;
padding-left: 50px;
    

   
}

.Activités h3
{
    
    padding-bottom: 25px;
}

.VP
{
    
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px #555
}


.VP img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:250px ;
    height: 390px;

}

.FdP

{
    
        border-radius: 20px;
        padding-bottom: 15px;
        box-shadow: 1px 1px 8px #555
}

.FdP img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 180px;
}
                

.IdF
{
    
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px #555
}

.IdF img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 100px;
}

.PNdC
{
    
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px #555
}

.PNdC img
{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 390px;
}

.NDdlG
{
    
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px #555
}

.NDdlG img

{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 140px;
}

.PL
{
    
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px #555
}

.PL img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 140px;

}



.AM
{
    
    height: 428px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
}



.AM p
{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
}


img:hover
{
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 20px;
}

                /* FOOTER */

.FOOTER
{
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 200px;
}

.TXTFOOTER
{
    padding-top: 50px;
    width:1110px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.TXTFOOTER p:hover
{
    cursor: pointer;
    text-decoration:underline;

}